[alias]
	co = checkout
	st = status -s
  	br = branch
[core]
	excludesFile = ~/.gitignore
[user]
	name = Simon de Villiers
	email = simon.devilliers@octoenergy.com
[pull]
	rebase = true
[rebase]
	autosquash = true
