[alias]
	co = checkout
	st = status -s
  	br = branch
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
[core]
	excludesFile = ~/.gitignore
    pager = delta
[user]
	name = Simon de Villiers
	email = simon.devilliers@octoenergy.com
[pull]
	rebase = true
[rebase]
	autosquash = true
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Dracula
[interactive]
    diffFilter = delta --color-only
