[alias]
  co = checkout
  st = status -s
  br = branch
[core]
  excludesfile = /Users/gbergere/.gitignore
[user]
  name = Geoffrey Bergeret
  email = geoffrey@gbergeret.cloud
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFJh1Rt6eu4hVZ66qs9Ua/xgQGOvx0mHKwjKK+rOdp+W
[commit]
  gpgSign = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[pull]
  rebase = true
[rebase]
  autosquash = true
[init]
  defaultBranch = main
